.discounted-price-container {
    color: #1E22AA;
    padding: 8px 10px;
    text-align: center;
    margin-top: 12px;
}
.discounted-price-container p { margin: 0; }
span.discount-price {
    font-weight: 700;
    font-size: 14px;
}

.p-detail-inner .discounted-price-container {
    font-size: 15px;
}
span.bf {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 5px;
    color: white;
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    font-weight: 500;
}
span.pricebf {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #1E22AA;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    border: 2px solid #1E22AA;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 3px;
    font-weight: 500;
    }

span.discount-code {
    font-size: 12px;
}
